@import '../../styles/Colors.scss';

.notificationButton {
    width: 200px;
    background-color: $badass;
    color: magenta;
    margin: 8px;

    &:active, &:focus, &:hover {
        background-color: $bad;
    }
}

.ant-btn-group {
    display: block;
    margin-bottom: 8px;
}